<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";

  // Size and margins
  const width = 700;
  const height = 270;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const tickWidth = 15;
  const radius = 90;
  const figSpace = 25; // Space between figures
  const headerHeight = 25;

  // Load data
  let data = [];
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  let dataT = {};
  $: {
    data.forEach((d) => {
      if ( !(d.city in dataT)){
        dataT[d.city] = {"heat":[], "cool":[], "maxVal":1};
      }
      dataT[d.city]["heat"].push(d.heating);
      dataT[d.city]["cool"].push(d.cooling);
    })
    for (let d in dataT) {
      dataT[d].maxVal = Math.max(Math.max(...dataT[d].heat,Math.max(...dataT[d].cool)));
    }
  }


  $: scale = scaleLinear().domain([0,Math.max(...data.map((d) => d.heating))]).range([0,radius]);
  // Create path to plot
  let genPath = (d, x, y, r) => {
    let path = "M";
    let angle = 0;
    scale = scaleLinear().domain([0,r]).range([0,radius]);
    d.forEach((value, idx) => {
      angle = idx/365*2*Math.PI;
      path += " " + (x+scale(value)*Math.sin(angle)) + ',' + (y-scale(value)*Math.cos(angle));
    })
    return path+" Z";
  }
</script>

<div class="wrapper">
  <h3>Energy use for heating (red) and cooling (blue) in each city through a year</h3>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(dataT) as city, city_idx}
        <g transform="translate({city_idx*235}, 0)">
          <text x={tickWidth+radius} y=20 font-size=20>{city+"  "}<tspan font-size=10>(Max value: {Math.round(dataT[city]["maxVal"])})</tspan></text> 
        </g>
        <g transform="translate({city_idx*(figSpace+2*tickWidth+2*radius)}, {tickWidth})">
          <text transform="translate({tickWidth+radius}, {innerHeight/2-radius-2})">0</text>
          <text transform="translate({tickWidth+2*radius+6}, {innerHeight/2+6})">3</text>
          <text transform="translate({tickWidth+radius}, {innerHeight/2+radius+14})">6</text>
          <text transform="translate({tickWidth-6}, {innerHeight/2+6})" text>9</text>
          <circle cx={tickWidth+radius} cy={innerHeight/2} r={radius} stroke="black" fill="none" />
          <line x1={tickWidth} y1={innerHeight/2} x2={tickWidth+2*radius} y2={innerHeight/2} />
          <line x1={tickWidth+radius} y1={innerHeight/2-radius} x2={tickWidth+radius} y2={innerHeight/2+radius} />
          <path d={genPath(dataT[city]["cool"], tickWidth+radius, innerHeight/2, dataT[city]["maxVal"])} stroke="blue" />
          <path d={genPath(dataT[city]["heat"], tickWidth+radius, innerHeight/2, dataT[city]["maxVal"])} stroke="red" />
        </g>
      {/each}
    </g>
  </svg>
</div>

<style>
  .wrapper{
    display: block;
    float: left;
    width: 700px;
  }
  h3 {
      text-align: center;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
    display:block;
    margin: auto;
  }
  text {
    text-anchor: middle;
  }
  line {
    stroke: black;
    opacity: 0.5;
  }
  path {
    fill-opacity: 0.5;
    stroke-width: 0.5;
  }
  tspan {
    font-size: 100;
  }
</style>
