<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";

  // Size and margins
  const width = 700;
  const height = 500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const lineMax = 10;
  const lineStart = 170;

  // Load data
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  let dataT = {};
  $: {
    data.forEach((d) => {
      if ( !(d.city in dataT)){
        dataT[d.city] = {};
      }
      if ( !(d.buildingtype in dataT[d.city])){
        dataT[d.city][d.buildingtype] = [];
      }
      dataT[d.city][d.buildingtype].push(d.total_heating_energy);
    })
  }

  // Select which location
  let currentData = {};
  $: if (("Baltimore" in dataT) && !("FullServiceRestaurant" in currentData)){
    currentData = dataT["Baltimore"];
  }

  function changeLoc(event){
    currentData = dataT[event.currentTarget.value];
  }

  function changeScale(event){
    if (event.currentTarget.value == "Global"){
      local = false;
    } else {
      local = true;
    }
  }

  // Scales
  $: xScale = scaleLinear().domain([0,744]).range([lineStart,innerWidth]);
  $: yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([lineMax,0]);

  // Make path
  let local = true;
  let genPath = (d, loc) => {
    if (loc == 1){
      yScale = scaleLinear().domain([0,Math.max(...d)]).range([lineMax,0]);
    } else {
      yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([lineMax,0]);
    }
    let path = "M "+lineStart+","+yScale(0);
    let pathBack = lineStart+","+yScale(0)+" Z";
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + ',' + yScale(value);
      pathBack = xScale(idx) + ',' + (2*yScale(0)-yScale(value)) + " " + pathBack;
    })
    return path+" "+pathBack;
  }
</script>
<div class="wrapper">
  <h3>Energy use for each building type through December 2014</h3>
  <div class="radiowrap">
    <div class="radiogroup">
      <p>Select location</p>
      <input type="radio" id="bal" name="loc" value="Baltimore" on:change={changeLoc} checked>
      <label for="Baltimore">Baltimore</label><br>
      <input type="radio" id="chi" name="loc" value="Chicago" on:change={changeLoc}>
      <label for="Chicago">Chicago</label><br>
      <input type="radio" id="losa" name="loc" value="Los Angeles" on:change={changeLoc}>
      <label for="Los Angeles">Los Angeles</label><br>
    </div>
    <div class="radiogroup">
      <p>Select scaling</p>
      <input type="radio" id="local" name="scal" value="Local" on:change={changeScale} checked>
      <label for="Local">Local</label><br>
      <input type="radio" id="global" name="scal" value="Global" on:change={changeScale}>
      <label for="Global">Global</label><br>
    </div>
  </div>
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(currentData) as build, build_idx}
      <g transform="translate(0, {build_idx*30})">
        <text transform="translate({lineStart-5}, 15)" text-anchor="end">{build}</text>
        {#if local == true}
          <path d={genPath(currentData[build], 1)} />
        {:else}
          <path d={genPath(currentData[build], 0)} />
        {/if}
      </g>
    {/each}
  </g>
</svg>
</div>
<style>
  .wrapper{
    display: block;
    float: left;
  }
  h3 {
      text-align: center;
  }
  .radiowrap{
    display: flex;
    justify-content: space-around;
  }
  .radiogroup{
    display: block;
    margin: 0 10px 10px 0;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
    display:block;
    margin: auto;
  }

  path {
    stroke: darkblue;
    fill:black;
    fill-opacity: 0.5;
  }
</style>
