<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const leafSpace = 100;
  const leafLength = 180;
  const leafRoot = 20;

  // Load data
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  let dataT = {};
  let maxVal = 0;
  $: {
    data.forEach((d) => {
      if ( !(d.week in dataT)){
        dataT[d.week] = {"el":[], "gas":[]};
      }
      dataT[d.week]["el"].push(d.total_electrity);
      dataT[d.week]["gas"].push(d.total_gas);
      maxVal = Math.max(maxVal, d.total_electrity, d.total_gas);
    })
  }
  $: console.log(maxVal);
  
  // Scales
  $: xScale = scaleLinear().domain([0,168]).range([leafRoot,leafLength]);
  $: yScale = scaleLinear().domain([0,maxVal]).range([0,leafSpace]);
  // Generate path
  let genBluePath = (d, right) => {
    if (right == 1){
      let path = "M "+(innerWidth/2+leafRoot*0.866)+","+(-leafRoot/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2+xScale(idx)*0.866-yScale(value)/2) + ',' + (-xScale(idx)/2-yScale(value)*0.866);
      })
      return path+" "+(innerWidth/2+xScale(d.length)*0.866)+','+(-xScale(d.length)/2)+" Z";
    } else{
      let path = "M "+(innerWidth/2-leafRoot*0.866)+","+(-leafRoot/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2-xScale(idx)*0.866+yScale(value)/2) + ',' + (-xScale(idx)/2-yScale(value)*0.866);
      })
      return path+" "+(innerWidth/2-xScale(d.length)*0.866)+','+(-xScale(d.length)/2)+" Z";
    }
  }

  let genOrangePath = (d, right) => {
    if (right == 1){
      let path = "M "+(innerWidth/2+leafRoot*0.866)+","+(-leafRoot/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2+xScale(idx)*0.866+yScale(value)/2) + ',' + (-xScale(idx)/2+yScale(value)*0.866);
      })
      return path+" "+(innerWidth/2+xScale(d.length)*0.866)+','+(-xScale(d.length)/2)+" Z";
    } else{
      let path = "M "+(innerWidth/2-leafRoot*0.866)+","+(-leafRoot/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2-xScale(idx)*0.866-yScale(value)/2) + ',' + (-xScale(idx)/2+yScale(value)*0.866);
      })
      return path+" "+(innerWidth/2-xScale(d.length)*0.866)+','+(-xScale(d.length)/2)+" Z";
    }
  }

</script>

<div class="wrapper">
  <h3>Weekly electricity (blue) and gas (orange) usage in Chicago</h3>
  <svg {width} {height}>
    <g>
      <line x1={innerWidth/2} y1={innerHeight} x2={innerWidth/2} y2={leafSpace/2} />
      {#each Object.keys(dataT) as week, week_idx}
        <g transform="translate(0, {innerHeight-leafSpace*(week_idx+0.5)})">
          {#if week_idx % 2 == 0}
            <line x1={innerWidth/2} y1="0" x2={innerWidth/2+leafLength*0.866} y2={-leafLength/2} />
            <text transform="translate({innerWidth/2+leafLength*0.866+40}, {-leafLength/2+5})">Week {week}</text>
            <path d={genBluePath(dataT[week]["el"], 1)} stroke="black" fill="blue"/>
            <path d={genOrangePath(dataT[week]["gas"], 1)} stroke="black" fill="orange"/>
          {:else}  
            <line x1={innerWidth/2} y1="0" x2={innerWidth/2-leafLength*0.866} y2={-leafLength/2} />
            <text transform="translate({innerWidth/2-leafLength*0.866-40}, {-leafLength/2+5})">Week {week}</text>
            <path d={genBluePath(dataT[week]["el"], 0)} stroke="black" fill="blue"/>
            <path d={genOrangePath(dataT[week]["gas"], 0)} stroke="black" fill="orange"/>
          {/if}
        </g>
      {/each}
    </g>
  </svg>
</div>

<style>
  .wrapper{
    display: block;
    float: left;
    width: 700px;
  }
  h3 {
      text-align: center;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
    display:block;
    margin: auto;
  }
  line {
    stroke: black;
  }
  text {
    text-anchor: middle;
  }
</style>
