<script>
    const fav_things = {name: "Petter", things: ["Pizza", "Sleeping", "Netflix"]}
</script>

<p>My name is {fav_things.name} and these are some of my favourite things: {fav_things.things}.</p>