<script>
  // Properties
  export let year = 1800;
  let playing = 1;
  let playtext = "Pause";

  import { onMount } from 'svelte';

	onMount(() => {
		const interval = setInterval(() => {
      if (playing == 1){
        year += 1;
        if (year > 2014){
          year = 1800;
        }
      }
		}, 200);
	});

  function pause(){
    if (playing == 1){
      playing = 0;
      playtext = "Play";
    } else{
      playing = 1;
      playtext = "Pause";
    }
  }

  function reset(){
    playing = 0;
    playtext = "Play";
    year = 1800;
  }
  import {
    Dropdown,
    DropdownMenu,
    DropdownToggle
  } from 'sveltestrap';
  
  let eur = true;
  let asia = true;
  let ame = true;
  let afr = true;
  
  export let continents = ["europe", "asia", "americas", "africa"];
  $: if (!eur && continents.includes("europe")){
    continents.splice(continents.indexOf("europe"), 1);
  } else if (eur && !continents.includes("europe")){
    continents.push("europe")
  }
  $: if (!asia && continents.includes("asia")){
    continents.splice(continents.indexOf("asia"), 1);
  } else if (asia && !continents.includes("asia")){
    continents.push("asia")
  }
  $: if (!ame && continents.includes("americas")){
    continents.splice(continents.indexOf("americas"), 1);
  } else if (ame && !continents.includes("americas")){
    continents.push("americas")
  }
  $: if (!afr && continents.includes("africa")){
    continents.splice(continents.indexOf("africa"), 1);
  } else if (afr && !continents.includes("africa")){
    continents.push("africa")
  }
</script>

<div class="row">
  <button class="row1" id="pause" type="button" on:click={pause}>{playtext}</button>
  <button class="row1" id="pause" type="button" on:click={reset}>Reset</button>
  <div class="row1"><Dropdown>
    <DropdownToggle caret>Continents</DropdownToggle>
    <DropdownMenu>
      <input bind:checked={eur} class="cb" type="checkbox" name="eur"><label for="eur">Europe</label><br>
      <input bind:checked={asia} class="cb" type="checkbox" name="asia"><label for="asia">Asia</label><br>
      <input bind:checked={ame} class="cb" type="checkbox" name="ame"><label for="ame">Americas</label><br>
      <input bind:checked={afr} class="cb" type="checkbox" name="afr"><label for="afr">Africa</label>
    </DropdownMenu>
  </Dropdown></div>
  <input type="range" min="1800" max="2014" name="slide" bind:value={year}/>
  <label for="slide">{year}</label>
</div>

<style>
  .row1 {
    width: 200px; 
    display: inline-block;
  }

  .cb {
    margin-left: 10px;
  }
</style>
