<script>
    let clicks = 0
    function plusOne(){
        clicks = clicks + 1
    }
    function toZero(){
        clicks = 0
    }
</script>
<button type="button" on:click={plusOne}>You have clicked {clicks} times!</button>
<button type="button" on:click={toZero}>Reset</button>

