<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  export let year = 1800;
  export let continents = ["europe", "asia", "americas", "africa"];
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data[year-1800]['countries'].filter(d => continents.includes(d.continent))} />
    <Controls bind:year={year} bind:continents={continents}/>
  </div>
{/if}
