<script>
  import {scaleOrdinal, scaleLinear, scaleLog} from "d3-scale";
  import {axisLeft, axisBottom} from "d3-axis";
  import {select} from "d3-selection";
  import { extent } from "d3-array";
  import {schemeDark2} from "d3";
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data = null;

  const xScale = scaleLinear().domain([0,5000]).range([10,innerWidth-10]);
  const yScale = scaleLinear().domain([45,20]).range([10,innerHeight]);
  const rScale = scaleLog().domain([10000,30000000]).range([1,10]);
  const colorScale = scaleOrdinal().domain(extent(data.map(a => a.continent))).range(schemeDark2);

  const xAxis = axisBottom(xScale);
  const yAxis = axisLeft(yScale);

  function xAx(node){
    let a = select(node)
      .call(xAxis);
  }
  function yAx(node){
    let a = select(node)
      .call(yAxis);
  } 
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px" title="Year 1800">
  {#if data == null}
    <g transform="translate({margin.left}, {margin.top})">
      <text fill="currentColor" y={40} x={innerWidth/2}>Loading...</text>
    </g>
  {:else}
    <g transform="translate({margin.left}, {margin.top})">
      {#each data as d}
        {#if +d.income>10 && +d.life_exp>10 }
          <circle cx={xScale(+d.income)} cy={yScale(+d.life_exp)} r={rScale(+d.population)} fill={colorScale(d.continent)} />
        {/if}
      {/each}
    </g>
    <g transform="translate({margin.left},{innerHeight+margin.top})" use:xAx />
    <g transform="translate({margin.left+10},{margin.top})" use:yAx />
    <g transform="translate(30,{innerHeight-30})"><text text-anchor="start" transform="rotate(270)" fill="currentColor">Life expectancy</text></g>
    <text fill="currentColor" y={height-20} x={innerWidth/2}>Income</text>
    <text fill="currentColor" y={40} x={innerWidth/2}>Year 1800</text>      
  {/if}
</svg>