<script>
  // Dimensions
  const width = 800;
  const height = 145;
  const margin = { top: 5, right: 5, bottom: 30, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  import {scaleLog} from "d3-scale";

  const x = scaleLog().domain([1,10]).range([0,innerWidth]);

  // New
  import {axisBottom} from "d3-axis";

  const axis = axisBottom(x);

  import {select} from "d3-selection";

  // Add X axis

  
  function xAxis(node){
    let a = select(node)
      .call(axis);
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
      <circle cx={x(val)} cy={innerHeight/2} r=10 />
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xAxis />
  <text fill="currentColor" y={innerHeight+32} x={innerWidth/2}>X-axis</text>
</svg>
<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>