<script>
import { extent } from "d3-array";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import {scaleLinear} from "d3-scale";
  const xScale = scaleLinear().domain([0,10]).range([0,innerWidth]);
  const yScale = scaleLinear().domain([4,0]).range([0,innerHeight]);

  import {scaleOrdinal} from "d3-scale";
  import {schemeDark2} from "d3";
  const colorScale = scaleOrdinal().domain(extent(values.map(a => a.category))).range(schemeDark2);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
      <circle cx={xScale(val.x)} cy={yScale(val.y)} fill={colorScale(val.category)} r=10 />
      <text class="valueLabel" fill={colorScale(val.category)} y={yScale(val.y)-11} x={xScale(val.x)}>{val.y}</text>
      <rect x={xScale(val.x)-1} y={yScale(val.y)+10} width=2 height={height-yScale(val.y)-10}/>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
