<script>
  import {scalePoint, scaleLinear} from "d3-scale";
  import {axisLeft, axisBottom} from "d3-axis";
  import {select} from "d3-selection";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xScale = scalePoint().domain(data.map(a => a.service)).range([20,innerWidth-20]);
  const yScale = scaleLinear().domain([3,0]).range([20,innerHeight-20]);
  const xAxis = axisBottom(xScale);
  const yAxis = axisLeft(yScale);

  function xAx(node){
    let a = select(node)
      .call(xAxis);
  }
  function yAx(node){
    let a = select(node)
      .call(yAxis);
  } 
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg id="swag" viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
      <rect x={xScale(d.service)-10} y={yScale(d.viewers)+20} width=20 height={innerHeight-yScale(d.viewers)-20}/>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xAx />
  <g transform="translate({margin.left},{20+margin.top})" use:yAx />
  <g transform="translate(30,{innerHeight/2+50})"><text text-anchor="start" transform="rotate(270)" fill="currentColor">Viewers</text></g>
</svg>
