<script>
  import E7 from './_ex_7_scatterplot.svelte';
  import { onMount } from 'svelte';
  import {json} from 'd3-fetch';
  let newdata = [];
  onMount(async () => {
    newdata = await json('/data/gapminder.json');
  });
</script>
{#if newdata}
    {#each newdata as d}
        {#if d.year == 1800}
            <E7 data={d.countries}></E7>
        {/if}
    {/each}
{:else}
    <E7 data=0></E7>
{/if}